@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
 
video{position:fixed;
    min-width: 100%;
    min-width: 100%;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;}
  .menu-btn{
        position: absolute;
        top:30px;
        right:200px; 
        cursor:pointer;
        display: none;
        
        } 
.header-gym{
    width: 100%;
    background-color: rgba(7, 7, 7,0.8);
    color: white;
    height: 150px;
    animation: nav 4s;}

    @keyframes nav{
        from{ trasform: traslade3d(0,-100%,0);
              opacity:0;}

        to{trasform: traslade3d(0,0,0);
            opacity:1;} }   

.navbar-gym{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.header-image{ margin-left:90px;
               margin-top:15px;}
.header-image img{
    width:120px;
    height: 120px;}

.header-image img:hover{opacity:0.7;}
.header-menu{
    width: 80%;
}
.header-menu a{padding: 0 40px;
            font-size:19px;
            color:white;
            text-decoration: none;
            text-shadow: 0px 0px 6px white;}

 .header-menu a:hover{
     border-bottom: 1px solid white;
     opacity: 0.6;
 } 

 .encabezado{
   display: grid;
grid-template-columns: 1fr;
background: url(FONDO2.jpg) no-repeat center center/cover;
height:600px;
margin-bottom: 20px;
position:relative;}

.encabeado-title{
    color:white;
    font-size: 40px;
    text-align: center;
    margin-top: 200px;
    animation: texto1 7s infinite;} 

    @keyframes texto1{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
    }
.encabezado a{
    display:block;
    margin: auto;
    text-decoration: none;
    color:black;
    padding: 20px 20px;
    background: #FFF;
    margin-bottom: 260px;
    font-size: 16px;
}
.encabezado a:hover{
    opacity: 0.7;
    background: black;
    color:white;

}

.encabezado .redes1{
    color:white;
    font-size: 45px;
    margin: auto;
    position: absolute;
    top:370px;
    left: 43%;
    
     
  }

.ubicacion{
    display: grid;
    grid-template-columns: 1fr;

}

.ubicacion  h1{
    text-align: center;
    text-shadow: 0px 0px 6px white;
    font-size: 40px;
    color: rgb(10, 10, 10);}
.ubicacion h2{
    text-align: center;
    text-shadow: 0px 0px 6px white;
    font-size: 40px;
    color: rgb(5, 5, 5);
}

    .formBlock{
        width: 500px;
        height: 250px;
        background-color: #FFF;
        border: 1px solid #ddd;
        padding: 10px; 
        z-index: 1;
        box-shadow: 0 1px 5px rgba(0,0,0,0.65);
        border-radius: 5px;
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;}
    
        .input,button {
            padding: 10px;
            margin-top: 15px;
            width: 100%;
            border: 1px solid rgb(10, 10, 10);
            font-size: 15px;
            border-radius: 3px;}
      #form{
          margin: 0;
          padding: 0;
      }

    .map{
        width: 100%;
        height:700px; 
        border: 2px solid rgb(10, 10, 10);
    } 

    .infomap1{
        background: rgba(0,0,0,0.4);
        border: 1px solid black;
        padding: 10px 5px;
        text-align: center; 
    }

    .infomap1 h4{
        font-size: 20px;
        color:white;
        text-shadow:  0px 0px 6px yellow;
        text-align: center;}

    .infomap1 ul li{
        list-style: none;
        color: white;
        font-size: 14px;
        margin: auto;}
   
    .infomap1 img{
        margin-left: 25px;
    }

    .infomap1 p{
        color:white;
        font-size: 14px;}

    .infomap2{
            background: rgba(0,0,0,0.4);
            border: 1px solid black;
            padding: 10px 5px;
            text-align: center; 
        }
    
        .infomap2 h4{
            font-size: 20px;
            color:white;
            text-shadow:  0px 0px 6px yellow;
            text-align: center;}
    
        .infomap2 ul li{
            list-style: none;
            color: white;
            font-size: 14px;
            margin: auto;}
       
.infomap2 img{
            margin-left: 25px;}
    
.infomap2 p{
            color:white;
            font-size: 14px;} 
    
            footer{
                display: grid;
                grid-template-columns: 1fr;
                background: url(GYM.jpg) no-repeat center center/cover;
                height: 500px;
            }
            footer h1{
                text-align: center;
                color: white;
                text-shadow:  0px 0px 6px yellow;
                font-size:60px;
                margin-top: 20px;
            
            }
            footer .footer_container{
                margin: auto;
                color: rgb(22, 22, 22);
                text-shadow:  0px 0px 6px yellow;
                font-size:30px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            
            }
            .footer_container ul{
                padding:0 50px;
                text-align: center;
            }
            .footer_container ul li{
                list-style: none;}
            footer .data1{
                margin-left:45%;
            }
            
            .data1  a{
                font-size: 50px;
                color:#FFF;
                display: inline-block;
            }
            
            .data1 a:hover{
                background: black;
            }
            footer h2{
                text-shadow: 0px 0px 6px rgb(236, 233, 5);
                color:black;
                font-size:35px;
                text-align: center;
                animation: title 5s infinite;
                margin-top: 20px;

            }
            
            footer p{
                text-align: center;
                color:#FFF;
                font-size: 20px;
            }

            @media (max-width: 480px){
                .header-gym{
                    width: 100%;
                    background-color: rgba(7, 7, 7,0.8);
                    color: white;
                    height: 150px;
                    animation: nav 4s;}
                
                    @keyframes nav{
                        from{ trasform: traslade3d(0,-100%,0);
                              opacity:0;}
                
                        to{trasform: traslade3d(0,0,0);
                            opacity:1;} }  
            
            
                .menu-btn{
                    position: absolute;
                    top:30px;
                    right: 20px;
                    cursor:pointer;
                    display: block;
                    
                    } 
                    .menu-btn{
                        font-size:55px;
                        color:white;
                    }
                  .header-menu{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #0f0f0f;
                    opacity: 0.9;
                    height: 100%;
                    z-index: 10;
                    transform: translateX(-400px)
                  }
                  .header-menu.show{
                    transform:translateX(0px);
                    transition: transform 0.5s ease-in-out; 
                  }
                  .header-menu a{
                    display: inline-block;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    margin-top:10px;
                    border-bottom: 1px solid white;
                    margin-left: 5;
                    padding: 10px 0;
                  }
            
                .header-image{ margin-left:10px;
                    margin-top:25px;
                    }
                .header-image img{
                    width:80px;
                    height: 80px;
                    border-radius: 50%;}
                
                .header-image img:hover{opacity:0.7;}
             
                .encabezado .redes1{
                    color:white;
                    font-size: 45px;
                    margin: auto;
                    position: absolute;
                    top:390px;
                    left: 24%;}

                    .ubicacion{
                        display: grid;
                        grid-template-columns: 1fr;
                    
                    }
                    
                    .ubicacion  h1{
                        text-align: center;
                        text-shadow: 0px 0px 6px white;
                        font-size: 20px;
                        color: rgb(10, 10, 10);}
                    .ubicacion h2{
                        text-align: center;
                        text-shadow: 0px 0px 6px white;
                        font-size: 20px;
                        color: rgb(5, 5, 5);
                    }

                    .infomap1{
                        background: rgba(0,0,0,0.4);
                        border: 1px solid black;
                        padding: 10px 5px;
                        text-align: center; 
                    }
                
                    .infomap1 h4{
                        font-size: 10px;
                        color:white;
                        text-shadow:  0px 0px 6px yellow;
                        text-align: center;}
                
                    .infomap1 ul li{
                        list-style: none;
                        color: white;
                        font-size: 9px;
                        margin: auto;}
                   
                    .infomap1 img{
                        margin-left: 25px;
                        width: 100px;
                        height: 100px;
                    }
                
                    .infomap1 p{
                        color:white;
                        font-size: 9px;}
                
                    .infomap2{
                            background: rgba(0,0,0,0.4);
                            border: 1px solid black;
                            padding: 10px 5px;
                            text-align: center; 
                        }
                    
                        .infomap2 h4{
                            font-size: 10px;
                            color:white;
                            text-shadow:  0px 0px 6px yellow;
                            text-align: center;}
                    
                        .infomap2 ul li{
                            list-style: none;
                            color: white;
                            font-size: 9px;
                            margin: auto;}
                       
                .infomap2 img{
                            margin-left: 25px;
                            width: 100px;
                            height: 100px;}
                    
                .infomap2 p{
                            color:white;
                            font-size: 9px;}

                            footer{
                                display: grid;
                                grid-template-columns: 1fr;
                                background: url(GYM.jpg) no-repeat center center/cover;
                                height: 600px;
                            }
                            footer h1{
                                color: white;
                                text-shadow:  0px 0px 6px yellow;
                                font-size:30px;
                                text-align: center;
                            
                            }
                            footer .footer_container{
                                margin: auto;
                                color: yellow;
                                text-shadow:  0px 0px 6px white;
                                font-size:15px;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                            
                            }
                            .footer_container ul{
                                padding:0 50px;
                                text-align: center;
                            }
                            .footer_container ul li{
                                list-style: none;}
                            footer .data1{
                                margin-left:29%; 
                            }
                            
                            .data1  a{
                                font-size: 40px;
                                color: white;
                                display: inline-block;
                            }
                            
                            .data1 a:hover{
                                background: black;
                            }
                            
                            
                            footer p{
                                text-align: center;
                                color:#FFF;
                                font-size: 20px;
                            }
                }     
            @media (max-width:400px){
                .encabezado .redes1{
                    color:white;
                    font-size: 45px;
                    margin: auto;
                    position: absolute;
                    top:380px;
                    left: 20%;}
            
            }       
  

    
    



